<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlWkwQi8QEH1FP0daAyoPWM0s0TmYfzSA</string>
	<key>GCM_SENDER_ID</key>
	<string>988345324663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asook.FindCare</string>
	<key>PROJECT_ID</key>
	<string>findcarefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>findcarefirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988345324663:ios:50afbe2d9d8e7469bf6272</string>
</dict>
</plist>